@import url('https://fonts.googleapis.com/css2?family=Anton&family=Berkshire+Swash&family=Bungee+Shade&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Set no margin and padding around body.
   Set height to take up entire screen heigt.
   Align everything to the center, both horizontally and vertically */

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

/* Remove border and outline around input. 
   Set width to take up the entire width of parent and set margin on bottom */

#searchInput {
    border: none;
    outline: none;
    width: 100%;
    margin-bottom: 20px;
}

/* When input gains, focus, add a blue border below it */

#searchInput:focus {
    border-bottom: 2px solid #4575b6;
}

/* Set width of table container (div) to 80% of browser window's and the height  */

.app {
    width: 80vw;
    height: 100vh;
    margin: 20px 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    box-sizing: 0 5px 7px gray;
}

thead {
    box-shadow: 0px 0px 10px gray;
}

th {
    padding: 1rem 3rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: left;
}

td {
    padding: 0.5rem 3rem;
    font-size: 1rem;
}

/* Creating alternating color(blue) acrros the rows. Set the blue all even ones (2, 4, 6 ..) */

tr:nth-child(even) {
    background-color: #dee8f5;
}